<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">About</span>   
    </a>
    <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">Contact</span>
    </a>
  </mat-nav-list>