a {
    text-decoration: none;
    color: white;
    margin: 20px;
}
 
a:hover, a:active{
    color: lightgray;

}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.example-spacer {
    flex: 1 1 auto;
  }