<div fxLayout="column" fxLayoutGap="30px">
  <div>
    <mat-card>
      <h2>Welcome</h2>
      <p>sezione da completare...</p>
    </mat-card>
  </div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div>
  <h2>Account Plans</h2>

  <div fxLayout="row"
    fxLayout.lt-sm="column" 
    fxLayoutGap="32px" 
    fxLayoutAlign="flex-start">
    
    <mat-card  *ngFor="let x of contenuti" class="playGround" fxFlex="1 1 auto" fxFlex.lt-md="1 1 auto" fxFlex.lt-sm="100%">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-sm-image src={{x.avatar}} class="avatar">
        </div>
          <mat-card-title>{{x.titolo}}</mat-card-title>
          <mat-card-subtitle>{{x.sottotitolo}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{x.immagine}}" alt="PlayGround Account">
        <mat-card-content>
          <p>{{x.testo}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary"><b>{{x.bottoni}}</b></button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
<br>
<mat-divider></mat-divider>
<br>
<app-footer></app-footer>