mat-grid-tile {
    background: lightblue;
  }
  .principale{
      background:whitesmoke;
  } 

mat-divider {
    color: black;
}


.example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    //background-image: url('C://Users/Utente/Desktop/guido/dev/ng7/ng7/src/app/home/assets/city.jpg');
    background-size: cover;
  }
  .avatar{
      border-radius: 50%;
      height: 100%;
      width: 100%;
  }